@model IEnumerable<Chasoliveira.Core.Dto.HistoryDTO>
@if (Model.Any())
{
    <div id="courses" class="row mobmid">
        <hr class="col-md-12 line">
        <div class="col-sm-1">
            <span class="secicon fa fa-briefcase"></span>
        </div>
        <div class="col-sm-11">
            <h3>Courses</h3>
            @foreach (var course in Model)
            {
                <div class="row">
                    <div class="col-md-9">
                        <h4>@course.Title</h4>
                        <p class="sub">
                            <a href="">@course.Company</a>
                        </p>
                        <p>@course.Description</p>
                    </div>
                    <div class="year col-md-3">
                        <p> @course.Start.ToString("yyyy") - @course.FinishedString</p>
                    </div>
                    @if (course != Model.Last())
                    {<hr class="col-md-12 line">}
                </div>
            }
        </div>
    </div>
}